fairscale
einops
jupyterlab 
jupyterlab-vim 
jupyterlab-lsp 
jupyterlab-code-formatter 
python-lsp-server[all]
voila 
ipywidgets 
ipykernel
notebook 
pickleshare 
black
tiktoken 
wandb 
einops 
matplotlib 
gdown 
openpyxl 
tqdm 
datasets 
numpy 
pandas 
scipy 
scikit-learn
pydantic
pynvml
datasets
tensorboard

# torch torchinfo --extra-index-url https://download.pytorch.org/whl/cu121